<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>T-Nova</title>

  <!-- Bootstrap Core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static/css/2-col-portfolio.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">T-Nova</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>


  <div class="jumbotron">
    <div class="container">
      <h1>Upload a video and see it transcoded</h1>

      <div class="input"></div>
      <div class="load"></div>







    </div>
  </div>


  <!-- Page Content -->
  <div class="container-fluid">

    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
      </div>
    </div>
    <!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="transcode">

  </div>






    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Viotech 2016</p>
        </div>
      </div>
      <!-- /.row -->
    </footer>

  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/vendor/jquery.ui.widget.js"></script>
  <script src="static/js/vendor/jquery.iframe-transport.js"></script>
  <script src="static/js/vendor/jquery.fileupload.js"></script>

  <script>
    var resolutions = {};
    var hostname = window.location.hostname;
    var basecontenturl = "http://" + hostname + ":{{ frontend_uri }}/api/storage/";
    var baseurl = "http://" + hostname + ":{{ frontend_uri }}/api/"
    var timer = undefined;
    var pathname = window.location.pathname; // Returns path only
    var url      = window.location.href;     // Returns full URL
    $( "div.input" ).replaceWith( '<input id="fileupload" type="file" name="file" data-url="http://' + hostname + ':{{ frontend_uri }}/api/storage">' );
    function myTimer(urlToBe, theplacetobe) {
      $.ajax({
        url: urlToBe ,
        success: function(result) {
          qualities=result.content["qualities"];
          if (typeof qualities != 'undefined'){
            if (jQuery.isArray(qualities)){

              qualities.forEach(function(entry) {
                if (!(entry in resolutions)) {
                  resolutions[entry] = entry;
                //  theplacetobe.append("<li><a href=' " + entry + " '>" + entry + "</a></li>");
                theplacetobe.append('<div class="col-md-6 portfolio-item"><div class="embed-responsive embed-responsive-16by9"><embed class="embed-responsive-item" type="application/x-vlc-plugin" name="video1" autoplay="yes" loop="yes" target="' +basecontenturl+result.content["id"]+'/'+ entry +'.mp4'+ '" title="undefined"></div><h3><a href="#">'+entry+'</a></h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p></div>')



                }

              });
            } else{
              entry = qualities;
              if (!(entry in resolutions)) {
                resolutions[entry] = entry;
                //theplacetobe.append("<li><a href=' " + entry + " '>" + entry + "</a></li>");
                theplacetobe.append('<div class="col-md-6 portfolio-item"><div class="embed-responsive embed-responsive-16by9"><embed class="embed-responsive-item" type="application/x-vlc-plugin" name="video1" autoplay="yes" loop="yes" target="' +basecontenturl+result.content["id"]+'/'+ entry +'.mp4'+ '" title="undefined"></div><h3><a href="#">'+entry+'</a></h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p></div>')
    }
            }

          };
          if (Object.keys(resolutions).length == 4) {
            $("div.load").remove();
            window.clearInterval(timer);
          }

        }
      });
    };

    $(function() {
      $('#fileupload').fileupload({

        success: function(e, data, request) {
          $("input").remove();
          var theplacetobe = $("div.transcode");

          var urlToBe = request.responseText;
          // theplacetobe.append("<li><a href=' " + request.responseText + " '>originale</a></li>");
          $("div.load").append("<img src='static/img/processing.gif' height='100' width='100' />");
          timer = setInterval(
            function() {
              myTimer(baseurl+urlToBe, theplacetobe)
            }, 1000);

        }
      });
    });
  </script>


</body>

</html>
